<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData"
                   DefaultLayout="@SelectLayout(routeData.RouteValues)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not Found</PageTitle>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
            <p><a href="/">Go to Home</a> or <a href="/chat">Go to Chat</a></p>
        </LayoutView>
    </NotFound>
</Router>
@code {
    private Type SelectLayout(IReadOnlyDictionary<string, object> routeValues)
    {
        if (routeValues.TryGetValue("page", out var page) &&
            page?.ToString() == "/")
        {
            return typeof(Layout.LoginLayout);
        }
 
        return typeof(Layout.MainLayout);
    }
}