@page "/"
@rendermode InteractiveWebAssembly
@using Microsoft.AspNetCore.SignalR.Client
@using CodeChat.Client.Components.Models
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>CodeChat</PageTitle>

<div class="form-group">
    <label>
        User Name:
        <input @bind="newUser.Username" />
    </label>
</div>
<div class="form-group">
    <label>
        Password:
        <input @bind="newUser.Password" />
    </label>
</div>
<button @onclick="Register">Create User</button>


@code {
    private HubConnection? hubConnection;
    private string? messageInput;
    private User newUser = new User();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/chathub"))
            .Build();

        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (hubConnection is not null && !string.IsNullOrEmpty(messageInput))
        {
            await hubConnection.SendAsync("SendMessage", "User", messageInput, DateTime.Now.ToString());
            messageInput = string.Empty;
        }
    }

    private void DoNothing()
    {
        // No logic yet for send.
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private void Register()
    {
        // Instantiate the User object
        newUser = new User
            {
                Username = newUser.Username,
                Password = newUser.Password
            };
    }


}
